.logo-image {
  margin-right: .6em;
  max-height: 60px !important;
}


.zark-navbar {
  background-color: #363636;
}

.zark-navbar a,
.zark-navbar button {
  font-weight: bold;
}

.toast-message {
  text-align: center;
}

.Toastify__toast--success {
  background-color: rgb(153, 204, 51) !important;
}
