@font-face {
  font-family: OCRA;
  src: url("../fonts/OCRA.otf") format("opentype");
}

.logo-image {
  margin-right: .6em;
  max-height: 60px !important;
}


.zark-navbar {
  background-color: #363636;
}

.zark-navbar a,
.zark-navbar button {
  font-weight: bold;
}
