
.invoice-form > div {
  margin-bottom: 1em;
}

.invoice-form .new-line-item {
  background-color: green;
  padding: .5em;
  font-size: 12px;
  color: #ffcc33;
  margin: 1em 0 .4em 0;
  text-decoration: none;
  display: inline-block;
}
